<div class="center hero-unit">
	<h1>About Page</h1>
	<p>This game was designed by Scott Sundvor as an assignment for the Boston Startup School. Scott has had a great time learning how to code Rails by building this game. He hopes you enjoy the simple game-play and encourages you to take the time to learn Rails yourself!</p>
</div>