<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <div class="well sidebar-nav" color="green">
        <h3>Game Description</h3>
        <h2>Welcome to the simplified game of Simon. This is a game where the player inputs a pattern of 5 directions, and then a second player tries to match that pattern.<br><br>Fun, right!?</h2>
        <h3>Game Rules</h3>
        <h2>To play:
          <br><br>1) Hit "Play Now!"
          <br>2) Player 1 uses the arrow keys or buttons on the screen to input a pattern of 5 directions.
          <br>3) Player 2 uses the arrow keys to input the same pattern as was inputted by Player 1.
          <br>4) You win!
        </h2>
      </div>
    </div>
    <div class="span8">
      <div class="center hero-unit">
        <h3>Player 1: Input Pattern</h3>
        <div class="btn-group btn-group-vertical">
          <button class="btn btn-primary">up</button>
          <div class="btn-group">
            <button class="btn btn-primary">left</button>
            <button class="btn btn-primary">down</button>
            <button class="btn btn-primary">right</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>